# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env_venv/
.venv/

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# Logs
*.log

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
*.swp

# Node (se existir frontend)
node_modules/
dist/
build/

# Docker
*.pid
