services:
  app:
    build: .
    container_name: promoly-core
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - waha
    command: python app.py

  waha:
    image: devlikeapro/waha:latest
    container_name: waha
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - waha-data:/app/data

volumes:
  waha-data:
